*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: sourceserif;
    src: url(./source-serif-pro/SourceSerifPro-Light.otf);
}

.menu-lateral .img-logo{
    height: 130px;
    width: 130px;
    margin-top:20px;
    display: inline-block;
}

.menu-superior{
    position: absolute;
    left: 20%;
    width: 80%;
    height: 65px;
    background-color: #1262A2;
    box-shadow: 0px 4px 10px black;
    z-index: 100;
    box-sizing: border-box;
}

.menu-superior li{
    list-style-type: none;
    float: left;
    padding: 10px;
}

.menu-superior li a{
    text-decoration: none;
    color:white;
    display: block;
    padding: 10px;
    font-size: 20px;
    font-family: 'sourceserif';
}

.menu-superior li a:hover{
    border: 2px #17B8CA solid;
    border-radius: 20px;
}
.menu-lateral{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #1262A2;
    text-align: center;
    box-shadow: 4px 0px 10px black;
    z-index: 200;
    font-family: 'sourceserif';
}

.menu-lateral .img-perfil{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-top: 50px;
}

.menu-lateral .img-estrelas{
    width: 100px;
}

.menu-lateral .nome-perfil{
    font-family: 'sourceserif';
    font-size: 17px;
    color: white;
}

.menu-lateral ul li{
    list-style-type: none;

}
.menu-lateral a{
    text-decoration: none;
    color:white;
}

.menu-lateral ul li a{
    display: block;
    font-size: 13px;
    padding: 10px;
    box-shadow: 0px 1px 1px black;
    transition: background-color 300ms, color 300ms, box-shadow 300ms;
}

.menu-lateral ul li a:hover{
    background-color: #17B8CA;
    color:black;
}

.menu-lateral .sair a{
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color:white;
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transition: background-color 300ms, color 300ms, box-shadow 300ms, border 300ms;
}
.menu-lateral .sair a:hover{
    background-color: #17B8CA;
    color: black;
    box-shadow: 4px 4px 10px black;
    border: 0px solid black;
}

.menu-superior .img-logo{
    float:right;
    right: 0;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.conteudo{
    width: 80%;
    top: 10%;
    left: 20%;
    position: absolute;

}

.slideshow{
    position: relative;
    height: 350px;
    width: 100%;
    
}
.slideshow img{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.slideshow img.active{
    display: block;
}
.seta{
    position: absolute;
    color: white;
    font-size: 30px;
    top: 50%;
    transform: translate(0, -50%);
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 0 50px 50px 0;
}
.seta.direita{
    right: 0;
    border-radius: 50px 0 0 50px;
}
.slideshow .bolinhas-overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.4);
    text-align: center;
}
.slideshow .bolinhas-overlay .bolinha{
    width: 20px;
    height: 20px;
    background: #1262A2;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}
.slideshow .bolinhas-overlay .bolinha.active{
    background: #D78D2E;
}


.pesquisa{
    text-align: center;
    padding-top:20px;
    font-size: 25px; 
    font-family: 'sourceserif';
}
#divBusca{
    background-color:rgba(215, 142, 46, 0.288);
    border:solid 2px #D78D2E;
    border-radius:10px;
    width:600px;
    height:32px;
    margin: auto;
}

.txtBusca::placeholder{
    color:black;
}
   
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px; 
    font-size:18px;
    border:none;
    height:32px;
    width:490px;
    font-style: italic;
}
   
#btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:73px;
    font-weight:bold;
    background:#D78D2E;
    color:black;
}
   
#divBusca img{
    float:left;
    width: 32px;
}

.conteudo .categorias{
    position: absolute;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px; 
    
}

.conteudo .categorias .categoria-individual{
    width: 200px;
    height: 200px;
    border: #1262A2 3px solid;
    border-radius: 100px;
    margin: 15px;
    transition: transform 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'sourceserif';
}

.conteudo .categorias .categoria-individual:hover{
    transform: scale(1.10);
}

.conteudo .categorias .categoria-individual .nome-categoria{
    font-size: 30px;
}

.formulario{
    position: absolute;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; 
    padding: 10px;
    font-size: 13px;
    border: 3px black solid;
    left: 50%;
    margin-top: 100px;
    transform: translate(-50%, 0);
    border-radius: 10px;
    background-color:rgba(215, 142, 46, 0.1);
    box-shadow: 4px 4px 10px black;
    font-family: 'sourceserif';
}

.formulario input{
    background-color:#D78D2E;
    color:white;
    padding: 5px;
    border-radius: 10px;
    float: right;
    font-family: 'sourceserif';

}

select{
    background-color:#D78D2E;
    color:white;
    padding: 5px;
    border-radius: 10px;
    float: right;
    font-family: 'sourceserif';
}

.formulario input::placeholder{
    color:rgba(255, 255, 255, 0.7);
}

.titulo-formulario{
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 50px; 
    font-family: 'sourceserif';
}

.home{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    color: white;
    background-color: #1262A2;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-family: 'sourceserif';
}

.enviar{
    padding: 7px;
    background-color: #D78D2E;
    border-radius: 10px;
    font-family: 'sourceserif';
}

.menu-superior li a.pagina-aberta{
    background-color: white;
    border-radius: 20px;
    color:black;
}
    
.menu-superior li a.pagina-aberta:hover{
    background-color: #1262A2;
    color:white;
}

.menu-lateral li a.pagina-aberta{
    background-color: white;

    color:black;
}

.texto-sobre-nos{
    width: 80%;
    box-sizing: border-box;
    margin: 10%;
    padding: 30px;
    border: black 3px solid;
    border-radius: 20px;
    background-color: rgba(18, 97, 162, 0.123);
    box-shadow: 4px 4px 15px black;
    font-family: 'sourceserif';
}